div#frame
    a(href="#makeityay")
        img(src="/img/yayallday.png")

audio(autoplay="autoplay", id="yay")
    source(src="/sfx/yay.mp3", type="audio/mpeg")

div#credit
    
    p xoxo,  
        a(href="http://twitter.com/elihorne")
            @elihorne
        &
        a(href="http://twitter.com/liztan")
            @liztan    

// because: https://twitter.com/#!/swissmiss/status/174946659531366401 


script(type="text/javascript")

  $('#frame a').live('click', function(){
    $(this).toggleClass('active');
    document.getElementById('yay').play();
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-452488-31']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
